@charset "utf-8";

/**
*
* -----------------------------------------------------------------------------
*
* Template : Responsive Wall-Epper HTML5 Template 
*
* -----------------------------------------------------------------------------
*
**/


/* Layout: Large Devices. */
@media only screen and (min-width: 1600px) {}

/* Layout: Large Devices. */
@media only screen and (min-width: 1440px) {}

/* Layout: Large Devices. */
@media only screen and (max-width: 1115px) {
	.how-it-works .path_row {

		width: 626px;
		position: absolute;
		text-align: center;
		display: block;
		margin: 0 auto;
		right: 0;
		left: -50px;
		top: 52%;
		overflow: hidden;
	}
}

/* Layout: Large Devices. */
@media only screen and (max-width: 1005px) {
	.how-it-works .path_row {

		width: 430px;
		position: absolute;
		text-align: center;
		display: block;
		margin: 0 auto;
		right: 0;
		left: -50px;
		top: 52%;
		overflow: hidden;
	}
}

/* Layout: Large Devices. */
@media only screen and (max-width: 770px) {
	.how-it-works .path_row {
		display: none;
	}

}

/* Medium Layout: 991px. */
@media only screen and (max-width: 991px) {
	.mobile_app {
		padding: 0 0 30px 0;
	}

	.sec-spacer {
		padding-bottom: 30px;
	}

	input#mail {

		text-indent: 36px;

	}

	.rs-footer .borderline::after {
		display: none;
	}

	.filter .gridFilter button {
		width: 40.666666%;
		margin-left: 10px;
		height: 54px;
		border-radius: 10px;
		font-size: 18px;
		color: #000;
		border: 0.2px solid #d3d3d3;
		background: transparent;
		text-transform: capitalize;
		margin-bottom: 10px;
	}

	.rs-banner-section {
		background: url(../images/banner/banner1.png);
		background-position: center top;
		background-repeat: no-repeat;
		padding-top: 80px;
		padding-bottom: 80px !important;
		background-size: cover;
	}

	.rs-banner-section .banner-text .banner-des {
		padding: 6px 0;
		font-size: 14px;
	}

	.rs-banner-section .btn-area span {
		color: #fff;
		font-size: 13px;
		opacity: 0.7;
		display: block;
		margin-right: 15px;
		font-family: "Gilroy-Light";
		margin-bottom: 28px;
	}

	.rs-banner-section .banner-text .sl-sub-title {
		font-size: 27px;
		line-height: 40px;
		color: #fff;
		font-family: "Gilroy-Bold";
		margin-top: 43px;
	}

	.mobile_app .mobile-description {
		margin: 0;
		position: relative;
		top: 40%;
		right: 0;
		-ms-transform: translateY(-40%);
		transform: translateY(-40%);
		margin-left: 30px;
		margin-bottom: 54px;
		text-align: center;
	}

	.mobile_app .mobileapp_section {
		position: relative;
		margin-top: 0;
		padding-bottom: 40px;
	}

	.about-widget .logo-footer {
		width: 240px;
		display: block;
		margin: 0 auto;
	}

	.footer-title {
		color: #fff;
		font-size: 15px;
		text-transform: capitalize;
		font-family: "Gilroy-Light";
		text-align: center;
	}

	.recent-post-widget {
		text-align: center;
		margin-bottom: 30px;
	}

	.about-widget p {
		color: #FFFFFF;
		margin-top: 16px;
		opacity: 0.8;
		text-align: center;
		font-weight: lighter;
		text-transform: capitalize;
	}

	.paddingleft {
		padding-left: 0%;
	}

	.sitemap-widget {
		margin-bottom: 30px;
	}

	.mobile_app .container {
		background: #FDF1F2;
		border-radius: 32px;
		padding: 12px 20px 0 20px;
	}

	.rs-latest-news .news-normal-block .news-img {
		margin-bottom: 20px;
	}

	.how-it-works .choose-location span {
		margin-top: 88px;

	}

}