@charset "utf-8";
/**
*
* -----------------------------------------------------------------------------
*
* Template :   Responsive Wall Pepper HTML5 Template 
*
* -----------------------------------------------------------------------------
*
**/
/* Table Of Content
---------------------------------------------------------
01. General CSS
02. Global Class
03. Header Section 


*
* -----------------------------------------------------------------------------
*
**/
/* -----------------------------------
    01. General CSS
-------------------------------------*/


@font-face {
	font-family: "Gilroy-Medium";
	src: url("../fonts/Gilroy-Medium.ttf");
}

@font-face {
	font-family: "Gilroy-Light";
	src: url("../fonts/Gilroy-Light.ttf");
}

@font-face {
	font-family: "Gilroy-Bold";
	src: url("../fonts/Gilroy-Bold.ttf");
}

@font-face {
	font-family: "Gilroy-SemiBold";
	src: url("../fonts/Gilroy-SemiBold.ttf");
}

@font-face {
	font-family: "Gilroy-ExtraBold";
	src: url("../fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
	font-family: "Gilroy-Regular";
	src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
	font-family: "Cairo-Regular";
	src: url("../fonts/Cairo-Regular.ttf");
}

@font-face {
	font-family: "Cairo-Light";
	src: url("../fonts/Cairo-Light.ttf");
}

@font-face {
	font-family: "GreatVibes-Regular";
	src: url("../fonts/GreatVibes-Regular.ttf");
}

html,
body {
	font-size: 16px;
	color: #505050;
	font-family: "Gilroy-Medium";
	vertical-align: baseline;
	line-height: 26px;
	font-weight: 400;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	margin: 0 0 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Gilroy-Medium";
	color: #212121;
	margin: 0 0 26px;
	font-weight: 700;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

a {
	color: #000;
	transition: all 0.3s ease 0s;
	text-decoration: none !important;
	outline: none !important;
	font-family: "Gilroy-Medium";
}

a:active,
a:hover {
	text-decoration: none;
	outline: 0 none;
	color: #760103;
}

ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

::-moz-selection {
	background: #760103;
	text-shadow: none;
	color: #ffffff;
}

::selection {
	background: #760103;
	text-shadow: none;
	color: #ffffff;
}

.sec-spacer {
	padding: 100px 0;
}

.padding-0 {
	padding: 0 !important;
}

.pt-45 {
	padding-top: 45px !important;
}

.pt-70 {
	padding-top: 70px !important;
}

.pt-50 {
	padding-top: 50px !important;
}

.pt-80 {
	padding-top: 80px !important;
}

.pt-100 {
	padding-top: 100px !important;
}

.pl-80 {
	padding-left: 80px;
}

.pb-40 {
	padding-bottom: 40px !important;
}

.pb-45 {
	padding-bottom: 45px !important;
}

.pb-70 {
	padding-bottom: 70px !important;
}

.pb-80 {
	padding-bottom: 80px !important;
}

.pb-170 {
	padding-bottom: 170px !important;
}

.mt-5 {
	margin-top: 5px !important;
}

.mt-15 {
	margin-top: 15px !important;
}

.sparator-15 {
	height: 15px;
	clear: both;
}

.ml-15 {
	margin-left: 15px !important;
}

.mt-30 {
	margin-top: 30px !important;
}

.mt-45 {
	margin-top: 45px !important;
}

.mt-50 {
	margin-top: 50px !important;
}

.mt-70 {
	margin-top: 70px !important;
}

.mt-80 {
	margin-top: 80px !important;
}

.mt-100 {
	margin-top: 100px !important;
}

.mb-0 {
	margin-bottom: 0px !important;
}

.mb-30 {
	margin-bottom: 30px !important;
}

.mb-45 {
	margin-bottom: 45px !important;
}

.mb-50 {
	margin-bottom: 50px !important;
}

.mb-70 {
	margin-bottom: 70px !important;
}

.mb-100 {
	margin-bottom: 100px !important;
}

.mr-25 {
	margin-right: 25px !important;
}

.mr-30 {
	margin-right: 30px !important;
}

.margin-remove {
	margin: 0 !important;
}

.display-table {
	display: table;
	height: 100%;
	width: 100%;
}

.display-table-cell {
	display: table-cell;
	vertical-align: middle;
}

.white-color {
	color: #fff !important;
}

#scrollUp {
	text-align: center;
	bottom: 40px;
	cursor: pointer;
	display: none;
	position: fixed;
	right: 40px;
	z-index: 999;
}

#scrollUp img {
	background-color: #ffffff;
	height: 40px;
	border: 1px solid #000;
	padding: 7px;
	width: 42px;
	line-height: 36px;
	transition: all 0.3s ease 0s;
	margin-left: 2px;
}

/*====================================Header========================================*/
#rs-header.rs-transfarent-header-style {
	position: absolute;
	width: 100%;
	z-index: 999;
}

#rs-header.rs-transfarent-header-style .logo-area {
	width: 96.04px;
	height: 56.94px;
}

#rs-header.rs-transfarent-header-style .link_group a {
	font-size: 14px;
	line-height: 33px;
	color: #fff;
	margin-right: 25px;
	font-family: "Gilroy-Light";
}

#rs-header.rs-transfarent-header-style .link_group a.language {

	font-family: "Cairo-Regular";
}

.rs-banner-section {
	background: url(../images/banner/banner1.png);
	background-position: center top;
	background-repeat: no-repeat;
	padding-top: 280px;
	padding-bottom: 230px !important;
	background-size: cover;
}

.rs-banner-section .banner-text .sl-sub-title {
	font-size: 44px;
	line-height: 40px;
	color: #fff;
	font-family: "Gilroy-Bold";
}

.rs-banner-section .banner-text .banner-des {
	color: #fff;
	padding: 6px 27.5%;
	opacity: 0.87;
	padding-top: 10px;
	margin-bottom: 35px;
	font-size: 14px;
	font-family: "Gilroy-Light";

}

hr {
	color: #fff;
	opacity: 0.1;
	margin: 1px;
	border: 1px solid;
}

.rs-banner-section .btn-area span {
	color: #fff;
	font-size: 13px;

	margin-right: 15px;
	font-family: "Gilroy-Light";
}

.rs-banner-section .btn-google,
.rs-banner-section .btn-apple {
	color: #fff;
	background-color: #000;
	padding: 18px 16px 10px 40px;
	position: relative;
	border-radius: 10px;
	font-size: 12px;
	opacity: 1;
	line-height: 1.3333333;
}

.rs-banner-section .btn-google:before {
	content: "";
	background-image: url(../images/icon/Google.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 6px;
	top: 50%;
	margin-top: -15px;
}

.rs-banner-section .btn-google:after,
.rs-banner-section .btn-apple:after {
	content: "Get it on";
	position: absolute;
	top: 4px;
	left: 40px;
	font-size: 10px;
	font-weight: 400;
	opacity: 0.67;

}

.rs-banner-section .btn-apple:before {
	content: "";
	background-image: url(../images/icon/Apple.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 6px;
	top: 50%;
	margin-top: -15px;
}

/*=========================================================HOW IT WORKS====================*/
.how-it-works {
	padding: 50px 0;
	position: relative;
}

.how-it-works .sec-title h4 {
	color: #760103;
	font-size: 14px;
	margin: 0;
	font-weight: normal;
	padding-top: 5px;
	font-family: "GreatVibes-Regular";
}

.how-it-works .sec-title h2 {
	margin: 0;
	font-size: 26px;
	text-transform: capitalize;
	line-height: 38px;
	color: #000;
	font-family: "Gilroy-Bold";
}

.how-it-works .choose-location span {
	display: block;
	text-align: center;
	font-size: 150px;
	z-index: 2;
	margin-bottom: 23px;
	color: #D9D9D929;
	font-weight: bolder;
	font-family: "Gilroy-ExtraBold";

}

.how-it-works .choose-location img {
	display: block;
	margin: 0 auto;
	border: 1px dashed #760103;
	border-radius: 50%;
	padding: 5px;
	/*width: 140px;*/
	z-index: 111;
	background: #fff;
}

.how-it-works .choose-location a {
	display: block;
	text-align: center;
}

.how-it-works .path_row {

	width: 770px;
	position: absolute;
	text-align: center;
	display: block;
	margin: 0 auto;
	right: 0;
	left: -50px;
	top: 52%;
	overflow: hidden;
}

img.icon-title {
	width: 15px;
}

.mt-35 {
	margin-top: -25px;
}

.mt_20 {
	margin-top: 20px;
}

.choose-location a {
	color: #000;
	font-size: 15px;
	margin-top: 10px;
	font-weight: 900;
	text-transform: capitalize;
	font-family: "Gilroy-SemiBold"
}


/* ------------------------------------
    16. Latest News
---------------------------------------*/

.rs-latest-news .news-normal-block {

	transition: all 0.3s ease 0s;
}

.rs-latest-news .news-normal-block:hover {
	-webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.rs-latest-news .news-normal-block .news-img {
	margin-bottom: 0px;
}

.rs-latest-news .news-normal-block .news-img img {
	width: 100%;
}

.rs-latest-news .news-list-block {
	overflow: hidden;
}

.rs-latest-news .news-list-block .news-list-item {
	overflow: hidden;
	transition: all 0.3s ease 0s;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.rs-latest-news .news-list-block .news-list-item:hover {
	-webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.rs-latest-news .news-list-block .news-list-item + .news-list-item {
	margin-top: 28px;
}

.rs-latest-news .news-list-block .news-list-item .news-img {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	float: left;
}



/*==================filter===================*/
.filter .sec-title h4 {
	color: #760103;
	font-size: 14px;
	margin: 0;
	font-weight: normal;
	padding-top: 5px;
	font-family: "GreatVibes-Regular";
}

.filter .sec-title h2 {
	margin: 0;
	font-size: 30px;
	text-transform: capitalize;
	line-height: 38px;
	color: #000;
	font-family: "Gilroy-Bold";
}

.filter .row.grid {
	min-height: 500px;
	overflow: hidden;
}

.filter .gridFilter {
	text-align: center;
	margin-bottom: 30px;
}

.filter .gridFilter button {
	width: 12.666666%;
	margin-left: 10px;
	height: 46px;
	border-radius: 10px;
	font-size: 15px;
	color: #000;
	border: 0.2px solid #d3d3d3;
	background: transparent;
	text-transform: capitalize;
	font-family: "Gilroy-SemiBold";

}

.filter .gridFilter button:focus {
	outline: none !important;
}

.filter .gridFilter .active {
	color: #fff;
	font-size: 15px;
	background: #760103;
	border-color: #760103;
	border: 1px solid #760103;
	font-family: "Gilroy-SemiBold";
}

.filter-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	font-weight: 600;
	font-size: 15px;
}

.filter-footer .filter-button {
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	background-color: #760103;
	border-radius: 50%;
	box-shadow: 0px 3px 6px #76010342;
}

.filter-footer .filter-seats {
	line-height: 46px;
	font-size: 17px;
	color: #760103;
	font-family: "Gilroy-Bold";
}

.filter .filter-item {
	margin-bottom: 30px;
	transition: all 0.35s ease 0s;
	box-shadow: 0px 8px 16px #d9d9d929;
	border-radius: 32px;
}

.filter-desc p {
	color: #7E7E7E;
	font-size: 14px;
	margin: 0;
	font-family: "Gilroy-Light";
}

h3.filter-title {
	margin: 0;
	margin-top: 5px;
	font-size: 16px;
	font-family: "Gilroy-SemiBold";
}

.filter .filter-item .filter-img {
	position: relative;
	margin: -1px -1px 0 -1px;
	padding: 15px;
}

.filter-body {
	padding: 0 15px;
}

.filter-footer {
	padding: 0 15px 25px 15px;
}

.filter .filter-item .filter-img img {
	width: 100%;
}

.filter .filter-item .filter-img .filter-value {
	position: absolute;
	bottom: -30px;
	right: 22px;
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
	background-color: #ff3115;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	border-radius: 50%;
}

.filter .filter-item .filter-toolbar {
	position: absolute;
	width: 100%;
	bottom: 15px;
	padding: 0 20px;
}

/*==========================Mobile_Description=========================*/
.mobile_app {
	padding: 110px 0 100px 0;
}

.mobile_app .mobile-description {
	margin: 0;
	position: absolute;
	top: 40%;
	right: 0;
	-ms-transform: translateY(-40%);
	transform: translateY(-40%);
	margin-left: 30px;
}

.mobile_app .container {
	background: #FDF1F2;
	border-radius: 32px;
	padding: 12px 60px 0 60px;
}

.mobile_app .mobileapp_section {
	position: relative;
	margin-top: -191px;
	padding-bottom: 40px;
}

.mobile_app .mobile-description .title {
	font-size: 27px;
	line-height: 38px;
	margin: 0 0 10px 0;
	text-transform: capitalize;
	font-family: "Gilroy-Bold";

}

.mobile_app .mobile-description p {
	color: #7E7E7E;
	font-size: 16px;
	padding-right: 21%;
	margin: 0 0 35px 0;
	line-height: 22px;
	font-weight: 400;
	font-family: "Gilroy-Medium";
}

.mobile_app .btn-google,
.mobile_app .btn-apple {
	color: #fff;
	background-color: #000;
	padding: 18px 16px 10px 40px;
	position: relative;
	border-radius: 10px;
	font-size: 12px;
	opacity: 1;
	line-height: 1.3333333;
}

.mobile_app .btn-google:before {
	content: "";
	background-image: url(../images/icon/Google.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 6px;
	top: 50%;
	margin-top: -15px;
}

.mobile_app .btn-google:after,
.mobile_app .btn-apple:after {
	content: "Get it on";
	position: absolute;
	top: 4px;
	left: 40px;
	font-size: 10px;
	font-weight: 400;
	opacity: 0.67;

}

.mobile_app .btn-apple:before {
	content: "";
	background-image: url(../images/icon/Apple.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 6px;
	top: 50%;
	margin-top: -15px;
}

/*=================Footer=================================*/
.bg8 {
	background-image: url(../images/banner/footer.png);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.rs-footer .footer-top {
	padding: 100px 0;
}

.about-widget .logo-footer {
	width: 240px;
}

.about-widget p {
	color: #FFFFFF;
	margin-top: 16px;
	opacity: 0.8;
	font-weight: lighter;
	text-transform: capitalize;
	font-family: "Gilroy-Light";
}

input#mail {
	background-image: url(../images/icon/mail.svg);
	background-size: auto;
	background-position: 6% 46%;
	background-repeat: no-repeat;
	text-indent: 21px;
	font-size: 13px;
}

.borderline::after {
	content: " ";
	width: 1px;
	height: 15px;
	color: #eee;
	margin: auto;
	position: absolute;
	right: 118px;
	background: #7E7E7E;
	top: 0;
	bottom: 0;

}

.rs-footer .borderline::after {
	content: " ";
	width: 1px;
	height: 210px;
	color: #eee;
	margin: auto;
	position: absolute;
	right: -44px;
	background: #7E7E7E;
	top: 0;
	bottom: 0;

}

.footer-title {
	color: #fff;
	font-size: 15px;
	text-transform: capitalize;
	font-family: "Gilroy-Light";
}

.footer-title.time {
	text-align: center;
}

.sitemap-widget {
	text-align: center;
	color: #fff;
	opacity: 0.7;
	text-transform: capitalize;
	font-family: "Gilroy-Light";
}

.recent-post-widget ul li a {
	color: #fff;
	opacity: 0.7;
	font-size: 15px;
	text-transform: capitalize;
	font-family: "Gilroy-Light";
}

.footer-title.subscripe {
	text-align: center;

}

.friday {
	font-size: 17px;
}

.news-form {
	text-align: right;
}

.rs-footer .footer-top .news-form {
	position: relative;
}

.rs-footer .footer-top .news-form input {
	background: #fff;
	border: 1px solid #ffffff;
	color: #000000;
	height: 45px;
	outline: 0 none;
	padding: 5px 15px;
	width: 100%;
	border-radius: 10px;
	text-transform: lowercase;
}

.rs-footer .footer-top .news-form button {
	background: #6E0103;
	border: none;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 42px;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	border: 1px solid #6E0103;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.paddingleft {
	padding-left: 11%;
}